* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #61dafb;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    font-size: calc(10px + 2vmin);
    color: black;
    padding-right: 100px;
    padding-left: 100px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-sec {
    height: 60vh;
}

.bg-name {
    background-color: antiquewhite;
}

.bg-world {
    background-color: rgb(221, 250, 215);
}